@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rambla&display=swap');

#root, body {
    font-family: 'Poppins', sans-serif !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
    
    --text: #004467;
    --border: #DEC573;
    --border-shadow: #FFFFB4;
    --side: #ccc;
    --center: #b2b2b2;
    --highlight: #569DE5;
    --color-box: #EFEFEF;

    color: var(--text);
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}