.home {
    width: 100vw;
    display: flex;
    margin: 3rem 5rem;
    gap: 5rem;
}

.model {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.company{
    padding: 1rem;
    width: 25rem;
    border-radius: 7px;
    background-color: var(--logo);
    margin-bottom: 2rem;
}

.model__picker{
    margin-bottom: 1rem;
}

.model__picker *{
    color: var(--text) !important;
    font-weight: 700;
    font-size: 1.6rem;
}

.model__clean, .model__export{
    margin-top: 1rem;
    box-shadow: 2px 2px 1px var(--side);
    border-radius: 10px;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-family: Poppins;
    transition: all 0.15s ease-out;
}

.model__export {
    margin-top: 2rem;
    background-color: var(--export);
    color: white;
}

.model__clean:hover, .model__export:hover{
    transform: scale(1.02);
}

.board{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.board__area{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 51rem;
    width: 51rem;
    background-color: var(--side);
}

.board__center{
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: var(--center);
    width: 34rem;
}

.board__center__placeholder{
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    align-self: center;
    text-align: center;
}

.board__side__placeholder{
    text-align: center;
    margin: auto;
}

.board__side__placeholder:first-child{
    grid-column: 1 / span 3;
}

.board__side__placeholder:nth-child(2){
    grid-row: 2 / span 2;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
}

.picker{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.picker__colors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.picker__colorItem, .picker__selectedColor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-box);
    padding: 0.5rem;
    max-width: 9rem;
    border-radius: 10px;
    cursor: pointer;
    gap: 0.2rem;
    transition: all 0.15s ease-out;
}

.picker__colorItem:hover{
    transform: scale(1.05);
}

.picker__colorItem > span, .picker__selectedColor > span {
    border-radius: 10px;
    width: 100%;
    height: 3rem;
}

.picker__colorItem > p, .picker__selectedColor > p {
    font-size: 1rem;
    text-align: center;
}

.picker__selectedColor {
    transform: scale(1.10);
    background-color: var(--side);
}

@media(max-width: 414px){
    .home{
        flex-direction: column;
        margin: 0;
    }

    .model{
        align-items: center;
    }

    .model__clean, .model__export{
        min-width: 55vw;
        padding: 1.3rem 1rem;
    }

    .board{
        align-items: center;
        margin: 0 1.5rem;
    }
    
    .board > p {
        text-align: center;
    }

    .board__area {
        width: 99vw;
        height: 99vw;
    }

    .board__center {
        width: 66vw;
    }

    .board__side__placeholder > h2, .board__center__placeholder > h2 {
        font-size: 1.9rem;
    }

    .board__side__placeholder > p, .board__center__placeholder > p{
        font-size: 1.3rem;
    }

    .picker {
        margin: 0 1.5rem;
        align-items: center;
    }

    .picker__colors {
        gap: 1.5rem;
    }

    .picker__colorItem, .picker__selectedColor {
        max-width: 10rem;
        padding: 1rem 0.5rem;
    }

    .picker__selectedColor {
        transform: scale(1.06);
    }
}