.home {
    width: 100vw;
    height: 100;
    display: flex;
    margin: 3rem;
}

.model {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.model__picker{
    border: 1px solid var(--border);
    box-shadow: 0 1px 1px var(--border-shadow);
    padding: 1rem;
    max-height: 40vh;
    overflow-y: scroll;
}

.board{
    flex: 1;
}