.picker{
    border: 1px solid var(--border);
    box-shadow: 0 1px 1px var(--border-shadow);
    padding: 1rem 2rem;
}
.picker__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.picker__title > h2 {
    font-size: 1.6rem;
}

.picker__content {
    margin-top: 1rem;
    overflow-y: scroll;
    max-height: 43vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 1rem;
}

.picker__item {
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.picker__item__selected{
    background-color: var(--side);
    border-radius: 1rem;
}

.picker__item__image{
    height: 10rem;
}
.picker__item__image svg {
    border: 1px solid black;
}

.picker__item__image svg > g {
    transform: scale(0.59);
}
